<div class="card card-container">
 <!--   <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->

    <p id="profile-name" class="profile-name-card">Login</p>
    <form   ng-controller="loginController" 
            name="myForm" novalidate class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <p>
            <input type="email" name="email" ng-model="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>

    <p>
            <input  type="password" name="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                <span ng-show="myForm.password.$error.required">Password is required.</span>
            </span>
        </p>
        <button ng-click="proceedLogin()" ng-disabled="myForm.$pristine || (myForm.password.$dirty && myForm.password.$invalid || myForm.email.$dirty && myForm.email.$invalid)"  class="btn btn-lg btn-primary btn-block btn-signin"  type="submit">Sign in</button>
    </form><!-- /form -->

</div><!-- /card-container -->
