<div class="card card-container">

    <p id="profile-name" class="profile-name-card">Fill in the form!</p>
    <form   ng-controller="registerController" 
            name="myForm" novalidate class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <p>
            <input type="email" name="email" ng-model="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>
            <p>
            <input type="text" name="username" ng-model="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>
         <p>
            <input class="form-control textbox-n" placeholder="Date of bith"  type="text" onfocus="(this.type='date')"  id="date">
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>
    <p>
            <input  type="password" name="password" ng-model="password"  id="inputPassword" class="form-control" placeholder="Password" required>
            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                <span ng-show="myForm.password.$error.required">Password is required.</span>
            </span>
    </p>
    <p>
    <input  type="password" name="passwordConfirm" ng-model="passwordConfirm" password-validate id="inputPassword" class="form-control" placeholder="Password Confirm" required>    
    
    <span style="color:red" ng-show="myForm.passwordConfirm.$dirty && myForm.passwordConfirm.$invalid">
                <span ng-show="myForm.passwordConfirm.$error.required">Password confirmation is required.</span>
                <span ng-show="myForm.passwordConfirm.$error.passwordValidate">Passwords are different!</span>

    </span>
    </p>
        <button ng-click="proceedRegistration()" ng-disabled="myForm.password.$dirty && myForm.password.$invalid || myForm.password.$pristine 
                    || myForm.passwordConfirm.$pristine || myForm.email.$pristine 
                    ||  myForm.email.$dirty && myForm.email.$invalid 
                    || myForm.passwordConfirm.$dirty && myForm.passwordConfirm.$invalid
                    "  class="btn btn-lg btn-primary btn-block btn-signin"  type="submit">Register</button>
    
    </form><!-- /form -->

</div><!-- /card-container -->